In [4]:
import pandas as pd
import iso8601

In [5]:
! ls /data/stations

hawkesworth_bridge_precip.csv	 santa_elena_precip.csv
hawkesworth_bridge_wtlv1.csv	 santa_elena_wtlv1.csv
hawkesworth_bridge_wtlv_max.csv  santa_elena_wtlv_max.csv
hawkesworth_bridge_wtlv_min.csv  santa_elena_wtlv_min.csv

In [7]:
df = pd.read_csv('/data/stations/hawkesworth_bridge_wtlv1.csv')
df['datetime'] = df.datetime.apply(iso8601.parse_date)
df['updated_at'] = df.updated_at.apply(iso8601.parse_date)

In [8]:
df

,datetime,measured,station_id,variable_id,updated_at
0,2020-06-24 23:10:00+00:00,1.767,191,4013,2020-06-25 18:23:14+00:00
1,2020-06-24 23:15:00+00:00,1.759,191,4013,2020-06-25 18:23:14+00:00
2,2020-06-24 23:20:00+00:00,1.766,191,4013,2020-06-25 18:23:14+00:00
3,2020-06-24 23:25:00+00:00,1.764,191,4013,2020-06-25 18:23:14+00:00
4,2020-06-24 23:30:00+00:00,1.765,191,4013,2020-06-25 18:23:14+00:00
...,...,...,...,...,...
38513,2020-11-05 19:55:00+00:00,8.710,191,4013,2020-11-05 20:02:56+00:00
38514,2020-11-05 20:00:00+00:00,8.730,191,4013,2020-11-05 20:02:56+00:00
38515,2020-11-05 20:05:00+00:00,8.720,191,4013,2020-11-05 20:17:03+00:00
38516,2020-11-05 20:10:00+00:00,8.730,191,4013,2020-11-05 20:17:03+00:00
38517,2020-11-05 20:15:00+00:00,8.730,191,4013,2020-11-05 20:17:03+00:00

In [5]:
df.dtypes

to_char         object
measured       float64
station_id       int64
variable_id      int64
to_char.1       object
dtype: object

In [6]:
df.datetime.dt.date()

AttributeError: 'DataFrame' object has no attribute 'datetime'