In [1]:
import pandas as pd
import iso8601

In [2]:
! ls /data/stations

hawkesworth_bridge_precip.csv	 santa_elena_precip.csv
hawkesworth_bridge_wtlv1.csv	 santa_elena_wtlv1.csv
hawkesworth_bridge_wtlv_max.csv  santa_elena_wtlv_max.csv
hawkesworth_bridge_wtlv_min.csv  santa_elena_wtlv_min.csv

In [3]:
df = pd.read_csv('/data/stations/santa_elena_wtlv1.csv')
df['datetime'] = df.datetime.apply(iso8601.parse_date)
df['updated_at'] = df.updated_at.apply(iso8601.parse_date)

In [4]:
df

,datetime,measured,station_id,variable_id,updated_at
0,2020-06-26 19:35:00+00:00,1.491,192,4013,2020-06-26 20:10:29+00:00
1,2020-06-26 19:40:00+00:00,1.491,192,4013,2020-06-26 20:10:29+00:00
2,2020-06-26 19:45:00+00:00,1.490,192,4013,2020-06-26 20:10:29+00:00
3,2020-06-26 19:50:00+00:00,1.491,192,4013,2020-06-26 20:10:29+00:00
4,2020-06-26 19:55:00+00:00,1.490,192,4013,2020-06-26 20:10:29+00:00
...,...,...,...,...,...
37760,2020-11-04 23:25:00+00:00,7.835,192,4013,2020-11-04 23:34:04+00:00
37761,2020-11-04 23:30:00+00:00,7.841,192,4013,2020-11-04 23:34:04+00:00
37762,2020-11-04 23:35:00+00:00,7.853,192,4013,2020-11-04 23:48:01+00:00
37763,2020-11-04 23:40:00+00:00,7.860,192,4013,2020-11-04 23:48:01+00:00
37764,2020-11-04 23:45:00+00:00,7.867,192,4013,2020-11-04 23:48:01+00:00

In [14]:
df.dtypes

datetime        object
measured       float64
station_id       int64
variable_id      int64
updated_at      object
dtype: object

In [16]:
df.datetime.str.()

AttributeError: 'StringMethods' object has no attribute 'date'