In [1]:
import pandas as pd

In [10]:
! ls /data/stations

santa_elena_precip.csv	santa_elena_wtlv_max.csv
santa_elena_wtlv1.csv	santa_elena_wtlv_min.csv

In [6]:
df = pd.read_csv('/data/stations/santa_elena_wtlv1.csv', date_parser=["datetime", "udated_at"])

In [7]:
df

,datetime,measured,station_id,variable_id,updated_at
0,2020-06-26 19:35:00,1.491,192,4013,2020-06-26 20:10:29
1,2020-06-26 19:40:00,1.491,192,4013,2020-06-26 20:10:29
2,2020-06-26 19:45:00,1.490,192,4013,2020-06-26 20:10:29
3,2020-06-26 19:50:00,1.491,192,4013,2020-06-26 20:10:29
4,2020-06-26 19:55:00,1.490,192,4013,2020-06-26 20:10:29
...,...,...,...,...,...
37760,2020-11-04 23:25:00,7.835,192,4013,2020-11-04 23:34:04
37761,2020-11-04 23:30:00,7.841,192,4013,2020-11-04 23:34:04
37762,2020-11-04 23:35:00,7.853,192,4013,2020-11-04 23:48:01
37763,2020-11-04 23:40:00,7.860,192,4013,2020-11-04 23:48:01
37764,2020-11-04 23:45:00,7.867,192,4013,2020-11-04 23:48:01

In [9]:
df.dtypes

datetime        object
measured       float64
station_id       int64
variable_id      int64
updated_at      object
dtype: object